# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Test
.pytest_cache/
.coverage
htmlcov/

# Temp
/temp

# Docker
.docker/

# Git
.git
.gitignore
